@import "normalize/import-now";

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  /* Stops flash on tap iOS */
}

button[data-balloon] {
  overflow: visible;
}
[data-balloon] {
  position: relative;
}
[data-balloon]:before,
[data-balloon]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.18s ease-out 0.18s;
  transition: all 0.18s ease-out 0.18s;
  bottom: 100%;
  left: 50%;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(-50%, 10px);
  -ms-transform: translate(-50%, 10px);
  transform: translate(-50%, 10px);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
[data-balloon]:after {
  //background: rgba(17, 17, 17, 0.9);
  background: #E4E7EC;
  border-radius: 4px;
  //color: #fff;
  color: #263858;
  content: attr(data-balloon);
  font-size: 12px;
  padding: .5em 1em;
  white-space: nowrap;
  margin-bottom: 11px;
}
[data-balloon]:before {
  background: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMzciIGhlaWdodD0iMTIiIHZpZXdCb3g9IjE2MyAxMjEgMzcgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwYXRoIGQ9Ik0xODQuMzIyIDEzMC43ODVjLTEuODM0IDEuMjIzLTQuODEgMS4yMjMtNi42NDQgMEwxNjMgMTIxaDM2bC0xNC42NzggOS43ODV6IiBmaWxsPSIjRTRFN0VDIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4NCjwvc3ZnPg==') no-repeat;
  background-size: 100% auto;
  height: 6px;
  width: 18px;
  content: "";
  margin-bottom: 5px;
}
[data-balloon].hover:before,
[data-balloon][data-balloon-visible]:before,
[data-balloon].hover:after,
[data-balloon][data-balloon-visible]:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
[data-balloon].font-awesome:after {
  font-family: FontAwesome;
}
[data-balloon][data-balloon-break]:after {
  white-space: normal;
}
// [data-balloon-pos="down"]:before,
// [data-balloon-pos="down"]:after {
//   bottom: auto;
//   left: 50%;
//   top: 100%;
//   -webkit-transform: translate(-50%, -10px);
//   -ms-transform: translate(-50%, -10px);
//   transform: translate(-50%, -10px);
// }
// [data-balloon-pos="down"]:after {
//   margin-top: 11px;
// }
// [data-balloon-pos="down"]:before {
//   background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28180%2018%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
//   background-size: 100% auto;
//   height: 6px;
//   width: 18px;
//   margin-top: 5px;
//   margin-bottom: 0;
// }
// [data-balloon-pos="down"].hover:before,
// [data-balloon-pos="down"][data-balloon-visible]:before,
// [data-balloon-pos="down"].hover:after,
// [data-balloon-pos="down"][data-balloon-visible]:after {
//   -webkit-transform: translate(-50%, 0);
//   -ms-transform: translate(-50%, 0);
//   transform: translate(-50%, 0);
// }
// [data-balloon-pos="left"]:before,
// [data-balloon-pos="left"]:after {
//   bottom: auto;
//   left: auto;
//   right: 100%;
//   top: 50%;
//   -webkit-transform: translate(10px, -50%);
//   -ms-transform: translate(10px, -50%);
//   transform: translate(10px, -50%);
// }
// [data-balloon-pos="left"]:after {
//   margin-right: 11px;
// }
// [data-balloon-pos="left"]:before {
//   background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%28-90%2018%2018%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
//   background-size: 100% auto;
//   height: 18px;
//   width: 6px;
//   margin-right: 5px;
//   margin-bottom: 0;
// }
// [data-balloon-pos="left"].hover:before,
// [data-balloon-pos="left"][data-balloon-visible]:before,
// [data-balloon-pos="left"].hover:after,
// [data-balloon-pos="left"][data-balloon-visible]:after {
//   -webkit-transform: translate(0, -50%);
//   -ms-transform: translate(0, -50%);
//   transform: translate(0, -50%);
// }
// [data-balloon-pos="right"]:before,
// [data-balloon-pos="right"]:after {
//   bottom: auto;
//   left: 100%;
//   top: 50%;
//   -webkit-transform: translate(-10px, -50%);
//   -ms-transform: translate(-10px, -50%);
//   transform: translate(-10px, -50%);
// }
// [data-balloon-pos="right"]:after {
//   margin-left: 11px;
// }
// [data-balloon-pos="right"]:before {
//   background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212px%22%20height%3D%2236px%22%3E%3Cpath%20fill%3D%22rgba%2817,%2017,%2017,%200.9%29%22%20transform%3D%22rotate%2890%206%206%29%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E') no-repeat;
//   background-size: 100% auto;
//   height: 18px;
//   width: 6px;
//   margin-bottom: 0;
//   margin-left: 5px;
// }
// [data-balloon-pos="right"].hover:before,
// [data-balloon-pos="right"][data-balloon-visible]:before,
// [data-balloon-pos="right"].hover:after,
// [data-balloon-pos="right"][data-balloon-visible]:after {
//   -webkit-transform: translate(0, -50%);
//   -ms-transform: translate(0, -50%);
//   transform: translate(0, -50%);
// }
[data-balloon-length]:after {
  white-space: normal;
}
[data-balloon-length="small"]:after {
  width: 80px;
}
[data-balloon-length="medium"]:after {
  width: 150px;
}
[data-balloon-length="large"]:after {
  width: 260px;
}
[data-balloon-length="xlarge"]:after {
  width: 90vw;
}
@media screen and (min-width: 768px) {
  [data-balloon-length="xlarge"]:after {
    width: 380px;
  }
}
[data-balloon-length="fit"]:after {
  width: 100%;
}

body,
html {
  //font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-family: 'Avenir', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #263858;
  color: #263858;
  font-size: calc(1em + 1vw);

  .overlay {
    background: #333;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
  }

  .infoModal {
    background: #fff;
    //max-width: 90%;
    min-height: 60%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: 10% auto;
    display: none;
    max-width: 450px;

    .closeModal {
      position: absolute;
      right: 3%;
      top: 1%;
      font-size: 1.5rem;
      font-weight: 300;
      cursor: pointer;
    }

    .title {
      background: #E4E7EC;
      padding: 20px;
      margin: 0;
      text-align: center;
      font-size: 0.75em;
      font-weight: 500;
    }

    .content {
      font-size: 0.65em;
      font-weight: 400;
      height: 85%;
      overflow-y: scroll;

      .listItem {
        margin: 15px 0;

        .ans {
          margin: 5px 0;
          padding: 5px;
          background: #E4E7EC;
        }
      }
    }

    .contactLink {
      text-align: center;
    display: block;
    text-decoration: none;
    /* font-size: 20px; */
    background: #263858;
    width: 25%;
    padding: 5px 10px;
    margin: 10px auto;
    color: #fff;
    }
  }

  .wrapper {
    position: relative;

    .back {
      display: flex;
      position: absolute;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      top: -7px;
      outline: none;

      .backIcon {
        &.iOSBack {
          width: 12px;
          height: 30px;
          margin-left: 10px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          opacity: 0;
        }

        &.androidBack {
          width: 22px;
          height: 30px;
          margin-left: 20px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          opacity: 0;
          display: none;
        }
      }
    }

    .title {
      font-size: 0.9em;
      font-weight: 400;
      color: #FFF;
      text-align: center;
      margin: 20px auto;
    }

    .billSection {}

    .titleSecond {
      max-width: 85%;
      font-size: 0.8em;
      font-weight: 400;
      margin-bottom: 30px;
    }

    .inputEntry {
      //max-width: 80%;
      font-size: 0.60em;
      color: #6D819C;
      padding-bottom: 10px;
      border-bottom: 1px solid #E4E7EC;
      margin-bottom: 20px;
      //transition: visibility 0s, opacity 0.5s linear;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &.alcEntry {
        &.hide {
          visibility: hidden;
          opacity: 0;
          height: 0;
          padding: 0;
          margin: 0;
        }
      }

      label {
        //width: 70%;
        width: 75%;
        display: inline-block;
      }

      .valField {
        height: 35px;
        border: 0;
        outline: none;
        color: #55967E;
        width: 55px;
        font-size: 1.2em;
        font-family: 'Avenir', 'Roboto', sans-serif;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #55967E;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: #55967E;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          color: #55967E;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: #55967E;
        }
      }

      .toggleCheck {
        width: 50px;
        display: inline-block;
        //margin-left: 10%;
        margin-left: 5%;
        height: 35px;
        //vertical-align: middle;
        // line-height: 35px;
        vertical-align: text-bottom;
        line-height: 1px;

        .jsSwitch {
          visibility: hidden;
        }

        .toggle-input {
          max-height: 0;
          max-width: 0;
          opacity: 0;
        }

        .toggle-input + label {
          cursor: pointer;
          display: block;
          position: relative;
          //box-shadow: inset 0 0 0px 1px #d5d5d5;
          text-indent: -5000px;
          height: 30px;
          width: 50px;
          border-radius: 15px;
          background: #E4E7EC;
        }

        .toggle-input + label:before {
          content: '';
          position: absolute;
          display: block;
          height: 30px;
          width: 30px;
          top: 0;
          left: 0;
          border-radius: 15px;
          background: rgba(19,191,17,0);
          transition: 0.25s ease-in-out;
        }

        .toggle-input + label:after {
          content: '';
          position: absolute;
          display: block;
          // height: 30px; width: 30px;
          top: 0;
          left: 0;
          border-radius: 15px;
          background: white;
          //box-shadow: inset 0 0 0 1px rgba(0,0,0,.2), 0 2px 4px rgba(0,0,0,.2);
          transition: 0.25s ease-in-out;
          box-shadow: inset 0 0 0 1px rgba(228,231,236, .2), 0 1px 2px rgba(0,0,0,.2);
          height: 27px;
          width: 27px;
          border-radius: 14px;
          top: 1.5px;
          left: 2px;
        }

        .toggle-input:checked + label:before {
          width: 50px;
          //background: rgba(19,191,17,1);
          background: #E4E7EC;
        }

        .toggle-input:checked + label:after {
          left: 20px;
          top: 1px;
          //box-shadow: inset 0 0 0 1px rgba(19,191,17,1), 0 2px 4px rgba(0,0,0,.2);
          //box-shadow: inset 0 0 0 1px rgba(228,231,236,1);
          box-shadow: 0 2px 4px rgba(0,0,0,.2);
          background: #263858;
          height: 28px;
          width: 28px;
          border-radius: 14px;
        }
      }
    }

    .btnSubmit {
      display: block;
      width: 100%;
      font-size: 20px;
      background: #55967E;
      color: #fff;
      border: none;
      padding: 15px;
      border-radius: 25px;
      font-family: inherit;
      margin-top: 20px;
      position: relative;
      outline: none;
      // -webkit-transition: background 0.1s ease, -webkit-transform 0.1s ease;
      // transition: background 0.1s ease, -webkit-transform 0.1s ease;
      // transition: background 0.1s ease, transform 0.1s ease;
      // transition: background 0.1s ease, transform 0.1s ease, -webkit-transform 0.1s ease;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:active,
      &:hover {
        // -webkit-transform: scale(0.95);
        // transform: scale(0.95);
        top:2px;
      }

      &.go {
        background: #2E7057;
      }
    }

    .billInput {
      background: #FFF;
      padding: 25px 20px 20px;
      //padding:50px 30px 30px 30px;
      margin-top: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .bilOutput {
      background: #FFF;
      padding: 25px 20px 20px;
      margin-top: 20px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: none;

      .details {
        .item {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          font-size: 0.60em;
          color: #6D819C;
          //padding-bottom: 10px;
          //border-bottom: 1px dashed #E4E7EC;
          margin-bottom: 20px;
          transition: all 0.3s ease-in-out;
          align-items: center;
          flex-wrap: wrap;

          .label {
            -webkit-flex: 70% 0 0;
            flex: 70% 0 0;
            padding-bottom: 10px;

            .info {
              display: inline-flex;
              // width: 15px;
              // height: 15px;
              width: 1.1em;
              height: 1.1em;
              border-radius: 50%;
              border: 1px solid #6D819C;
              text-align: center;
              //font-size: 0.9em;
              font-size: 0.85em;
              align-items: center;
              justify-content: center;
              margin-left: 5px;
            }
          }

          .amount {
            color: #263858;
            -webkit-flex: 30% 0 0;
            flex: 30% 0 0;
            padding-bottom: 10px;
            text-align: right;
          }

          .line {
            width: 100%;
            height: 2px;
            stroke: #E4E7EC;
            stroke-width: 1px;
            stroke-dasharray: 0.8;
            stroke-dashoffset: 1;
          }
        }
      }

      .total {
        font-size: 20px;
        text-align: right;
        font-weight: 500;
        color: #000000;
        margin: 30px 0 10px;

        .value {
          font-weight: 600;
          color: #55967E;
        }
      }

      .faq {
        color: #fff;
        position: absolute;
        bottom: -40px;
        text-decoration: none;
        font-size: 0.6em;
        text-align: center;
        display: block;
        /* width: 100%; */
        right: 0;
        left: 0;

        .info {
          display: inline-flex;
          // width: 15px;
          // height: 15px;
          width: 1.1em;
          height: 1.1em;
          border-radius: 50%;
          border: 1px solid #fff;
          text-align: center;
          //font-size: 0.9em;
          font-size: 0.85em;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
        }

        small {
          font-size: 140%;
        }
      }
    }

    .billIcon {
      width: 19px;
      height: 22px;
      vertical-align: -3px;
    }

    &.billSplit {
      .back {
        .backIcon {
          &.iOSBack {
            fill: #fff;
            opacity: 1;
          }

          &.androidBack {
            fill: #fff;
            opacity: 1;
          }
        }
      }

      .billInput {
        display: none;
      }

      .bilOutput {
        display: block;
      }
    }

    &.isAndroid {
      .btnSubmit {
        box-shadow: 0 6px 7px 0 rgba(121,121,121,0.50);
        border-radius: 0;
      }

      .back {
        .backIcon {
          &.iOSBack {
            display: none;
          }

          &.androidBack {
            display: block;
          }
        }
      }
    }

    .infoPop {
      overflow-y: hidden;
      /* approximate max height */
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      color: #6D819C;

      &.closed {
        height: 0;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      }

      &.error {
        color: #ff7f7f;
      }

      .textBlock {
        background: #fff;
        display: flex;
        width: 70%;
        padding: 10px;
        border-radius: 50px;
        margin: 15px auto;
        text-align: center;
        font-size: 0.6em;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.11);
      }
    }
  }
  @media (min-width: 450px) {
    .infoModal {
      font-size: 25px;
    }
    .wrapper {

      max-width: 450px;
      font-size: 25px;
      margin: 0 auto;

      .billInput {
        margin-top: 30px;
      }

      .bilOutput {
        margin-top: 30px;
      }
    }
  }
}
